@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(30px); 
    }
    to {
      transform: translateX(0);
    }
  }
  
  .slide-right {
    animation: slideIn 1s ease-in-out;
  }
  
  .about {
    animation: slideIn 2s ease-in-out;
  }
  
  .slide-left {
    animation: slideOut 1s ease-in-out;
  }

  .logo-image {
    width: 600px;
    margin-left: 100px;
  }

.about {
    color: #090c02ff;
    font-size: 15px;
  }
  
  .developers-title {
    color: #333 !important;
    font-size: 30px !important;
    text-align: center;
    margin-top: 50px !important;
    margin-bottom: 10px;
    font-weight: bold !important;
    font-family: 'Anton', sans-serif !important;
    text-transform: uppercase;
  }
  
  .developers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .fotos {
    width: 100%;

  }

  .developers-section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .developer { 
    width: 200px;
    height:200px;
    margin-bottom: 15px;
    border-radius: 800px;
    border: 4px solid black;
    overflow: hidden;

  }

  .dev-text {
    font-size: 25px !important;
    font-weight: bold !important;
    font-family: 'Anton', sans-serif !important;
    letter-spacing: 2px !important;
    text-align: center;
  }

.redes-dev {
  font-size: 40px !important;
  margin-right: 20px;
  text-decoration: none;
  color: black !important;
  transition: transform 0.3s ease-in-out !important;
}

.redes-dev:hover {
  transform: scale(1.2);
}

.developers-container {
  justify-content: center;
}

.dev-align {
  justify-content: center;
  align-items: center;
  display: grid;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.caixa-sobre {
 
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}