@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cursor {
  cursor: pointer;
  color: white;
}

.text-decorator-none {
  text-decoration: none;
}

.nav {
  background-color: #d73340ff !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.logo {
  height: 100px;
  padding: 10px 40px 10px 10px;
  filter: invert(100%);
  
}

.nav-links {
  font-family: 'Bebas Neue', sans-serif !important;
}
.navbar-toolbar {
  justify-content: center;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-links {
  justify-content: center;
  
}
.navbar-logo{
  justify-content: flex-start;
  position: relative;
  z-index: 1200;
}