@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.text-decorator-none{
    text-decoration: none;
}

.login-page {
    background-image: url(https://img.freepik.com/fotos-gratis/equipamentos-maos-tomada_1150-99.jpg?w=740&t=st=1687440738~exp=1687441338~hmac=1e4b714f6b45123df810698bc759ff19632b8679ac01f42912183025c06c15fb);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
  

.botao-logar {
    background: #d73340ff !important;
    color: white !important;
    border: 2px solid white !important;
    font-weight: bold !important;
    font-size: 15px !important;
}

.bem-vinde {
    font-family: 'Anton', sans-serif !important;
    text-transform: uppercase;
}

.link1 {
    color: #d73340ff;
    text-shadow:1px 1px 3px black;
}

a.link1:hover {
    color: #7e7e7e;
}

.textos1 {
    font-weight: bold !important;
}

.form-login {
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 3px black;
    backdrop-filter: blur(10px);
}

.logo-login {
    text-align: center;
    margin-bottom: 20px;
}

.login {
    max-width: 27% !important;
}