@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.box1 {
  background-color: #d73340ff;
  height: 100px;
}

.box2 {
  background-color: #525e66ff;
  height: 70px;
}

.redes {
  font-size: 40px !important;
  color: white;
}

.textos {
  color: white;
  font-family: 'Bebas Neue', sans-serif !important;
}
