.box1 {
  background-color: #d73340ff;
  height: 120px;
}

.box2 {
  background-color: #525e66ff;
  height: 60px;
}

.redes {
  font-size: 40px !important;
  color: white;
}

.textos {
  color: white;
}
