.imagem2{
    background-image: url(https://img.freepik.com/fotos-gratis/closeup-de-duas-pessoas-de-maos-dadas-durante-a-terapia-de-grupo_637285-9971.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background: red !important;
    color: white !important;
}

.btnCadastrar {
    background: rgb(0, 0, 105) !important;
    color: white !important;
}