.imagem2{
    background-image: url(https://img.freepik.com/fotos-gratis/closeup-de-duas-pessoas-de-maos-dadas-durante-a-terapia-de-grupo_637285-9971.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-family: 'Anton', sans-serif !important;
    text-transform: uppercase;
}

.btnCancelar{
    margin-right: 20px !important;
    background: red !important;
    color: white !important;
}

.btnCadastrar {
    background: rgb(0, 0, 105) !important;
    color: white !important;
}

.form-cadastro {
    margin-top: 100px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 3px black;
    
}